@model WebHamburgueseria.Models.Empleado

@{
    ViewData["Title"] = "Editar Empelado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Empleado</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">CI</label>
                <input asp-for="CedulaIdentidad" class="form-control" />
                <span asp-validation-for="CedulaIdentidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombres</label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Primer Apellido</label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Segundo Apellido</label>
                <input asp-for="SegundoApellido" class="form-control" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Célular</label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cargo</label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <!-- Campos ocultos para valores automáticos -->
            @* Si estos valores no son modificables, asegúrate de asignarlos correctamente en el controlador *@
            <input type="hidden" asp-for="UsuarioRegistro" />
            <input type="hidden" asp-for="FechaRegistro" />
            <input type="hidden" asp-for="Estado" />

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Guardar
            </button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa fa-arrow-left"></i> Volver a la lista</a>
</div>

