@model WebHamburgueseria.Models.VentaDetalle

@{
    ViewData["Title"] = "Editar Venta Detalle ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Venta Detalle</h1>

<h4>VentaDetalle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDetalleVenta" />
            <div class="form-group">
                <label asp-for="IdVenta" class="control-label"></label>
                <select asp-for="IdVenta" class="form-control" asp-items="ViewBag.IdVenta"></select>
                <span asp-validation-for="IdVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label"></label>
                <select asp-for="IdProducto" class="form-control" asp-items="ViewBag.IdProducto"></select>
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Precio de Venta</label>
                <input asp-for="PrecioVenta" class="form-control" />
                <span asp-validation-for="PrecioVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cantidad</label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">SubTotal</label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <!-- Campos ocultos para valores automáticos -->
            @* Si estos valores no son modificables, asegúrate de asignarlos correctamente en el controlador *@
            <input type="hidden" asp-for="UsuarioRegistro" />
            <input type="hidden" asp-for="FechaRegistro" />
            <input type="hidden" asp-for="Estado" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<div>
     <a asp-action="Index"><i class="fa fa-arrow-left"></i> Volver a la lista</a>
</div>

